/* style.css */
body {
  background-color: #d594d6;
  }
  
  button {
    width: 45px;
  }
  
  h1 {
    color: #808080
  }
  
  p {
    font-size: 18pt;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid black;
  }
  img{ 
    width: 900px;
  }
  
